@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
