.title {
  color: #2c2738;
  font-family: IBM Plex Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #2c2738;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
