.radio[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid #dbe2ea;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.radio[type="radio"]:checked {
  border: 0.4em solid #0880ae;
}

.radio[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #0880ae;
}

.radio[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.radio[type="radio"]:hover + span {
  cursor: pointer;
}

.radio[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

.radio[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.wrapper {
  display: flex;
  gap: 10px;
}
