.white-button {
  all: unset;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

.container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar * {
  text-decoration: none;
}

.blue-link {
  color: #3366ff;
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
}
