.container {
  display: flex;
  gap: 1px;
  cursor: pointer;
}

.active {
  padding: 11px 16px;
  color: #161616;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.16px;
  border-bottom: 2px solid #0f62fe;
}

.deactive {
  padding: 11px 16px;
  color: #525252;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.16px;
  border-bottom: 2px solid #c6c6c6;
}
