.container {
  margin-top: 30px;
  margin-left: 70px;
  min-width: 335px;
  width: 100%;
  display: flex;
  gap: 150px;
}

.aside {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
